In [1]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split

In [2]:
spaceship = pd.read_csv("https://raw.githubusercontent.com/data-bootcamp-v4/data/main/spaceship_titanic.csv")
spaceship.head()

,PassengerId,HomePlanet,CryoSleep,Cabin,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Name,Transported
0,0001_01,Europa,False,B/0/P,TRAPPIST-1e,39.0,False,0.0,0.0,0.0,0.0,0.0,Maham Ofracculy,False
1,0002_01,Earth,False,F/0/S,TRAPPIST-1e,24.0,False,109.0,9.0,25.0,549.0,44.0,Juanna Vines,True
2,0003_01,Europa,False,A/0/S,TRAPPIST-1e,58.0,True,43.0,3576.0,0.0,6715.0,49.0,Altark Susent,False
3,0003_02,Europa,False,A/0/S,TRAPPIST-1e,33.0,False,0.0,1283.0,371.0,3329.0,193.0,Solam Susent,False
4,0004_01,Earth,False,F/1/S,TRAPPIST-1e,16.0,False,303.0,70.0,151.0,565.0,2.0,Willy Santantines,True

- Check the shape of your data

In [9]:
spaceship.shape

(8693, 14)

- Check the types of your data

In [10]:
spaceship.dtypes

PassengerId      object
HomePlanet       object
CryoSleep        object
Cabin            object
Destination      object
Age             float64
VIP              object
RoomService     float64
FoodCourt       float64
ShoppingMall    float64
Spa             float64
VRDeck          float64
Name             object
Transported        bool
dtype: object

- Check the missing values of your data

In [12]:
spaceship.isnull().sum()

PassengerId       0
HomePlanet      201
CryoSleep       217
Cabin           199
Destination     182
Age             179
VIP             203
RoomService     181
FoodCourt       183
ShoppingMall    208
Spa             183
VRDeck          188
Name            200
Transported       0
dtype: int64

- Handling missing values (drop rows)

In [19]:
spaceship = spaceship.dropna()

- Transforming "cabin" column

In [20]:
spaceship["Cabin"] = spaceship["Cabin"].apply(lambda x: str(x)[0])
spaceship["Cabin"].unique()

array(['B', 'F', 'A', 'G', 'n', 'E', 'C', 'D', 'T'], dtype=object)

- Drop "PassengerId" and "Name"

In [21]:
spaceship = spaceship.drop(columns=["PassengerId", "Name"])

- Dummies for non-numerical columns

In [22]:
spaceship_dummies = pd.get_dummies(spaceship, drop_first=True)

- Train Test Split

In [24]:
features = spaceship_dummies.drop(columns="Transported")
target = spaceship_dummies["Transported"]
X_train, X_test, y_train, y_test = train_test_split(features, target, test_size = 0.2, random_state = 0)

- Model selection (Knn)

In [31]:
from sklearn.neighbors import KNeighborsClassifier

knn = KNeighborsClassifier()
knn.fit(X_train, y_train)
pred = knn.predict(X_test)

- Evaluate modelÂ´s performance

In [43]:
from sklearn.metrics import confusion_matrix, classification_report

accuracy = accuracy_score(y_test, pred)
class_report = classification_report(y_test, pred)
conf_matrix = confusion_matrix(y_test, pred)

print(f"Accuracy: {accuracy}")
print(f"Classification Report: {class_report}")
print(f"Confusion Matrix: {conf_matrix}")

Accuracy: 0.7642276422764228
Classification Report:               precision    recall  f1-score   support

       False       0.75      0.78      0.77       678
        True       0.77      0.74      0.76       675

    accuracy                           0.76      1353
   macro avg       0.76      0.76      0.76      1353
weighted avg       0.76      0.76      0.76      1353

Confusion Matrix: [[532 146]
 [173 502]]